<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mapfoodltdd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapFoodLTDD">
        <activity android:name=".profile.ThongTinNguoiDung.DoiTen"></activity>
        <activity android:name=".profile.ThongTinNguoiDung.DoiSoDT" />
        <activity android:name=".profile.ThongTinNguoiDung.DoiEmail" />
        <activity android:name=".profile.ThongTinNguoiDung.DoiAvatar" />
        <activity android:name=".profile.ThongTinNguoiDung.ChonNghe" />
        <activity android:name=".profile.ThongTinNguoiDung.ThongTinNguoiDung" />
        <activity android:name=".collections.ListviewItemActivity" />
        <activity android:name=".collections.Xemthem" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".SignUp" />
        <activity android:name=".home.listprovince.ListProvince" />
        <activity android:name=".profile.DanhBa" />
        <activity android:name=".profile.TaoDiaChi" />
        <activity android:name=".profile.DiaChi" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LogoBK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>